/* common shared style */
body{
    font-family: 'Lato', sans-serif;
}

/* header styles section */

.website-title{
    color: #272727;
    margin-left: 80px;
    margin-right: 96px;
    font-size: 80px;
    font-weight: 800;
}
.header-image{
    width: 635px;
    height: 800px;
}
.header{
    display: flex;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
}
.p-title{
    color: rgba(39, 39, 39, 0.60);
    margin: 80px;
}
.btn-shop{
    color: #FFF;
    border: 0;
    margin: 80px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
}

/* footer related style  */

footer{
    margin-top: 100px;
    margin-bottom: 24px;
    background-color: #111010;
    text-align: center;
}
.flower-color{
    color: #E55473;
    font-size: 48px;
}
.shop-color{
    color: #FFF;
    font-size: 48px;
}
.about-footer{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    margin-top: 24px;
    font-size: 10px;
    font-weight: 100;
}
.about-FlowerShop.com{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}